.container
  width: 100vw
  display: flex
  color: #fff
  align-items: center
  justify-content: center
  scroll-snap-align: center
  background-color: #000
  padding-bottom: 5px
  height: 100vh
  
.content
  width: 80%
  font-weight: 700
  font-size: 32px
  background-color: none

.title
  margin-bottom: 6px

.projeto
  width: 100%
  margin-top: 10px

.ContainerCarousel
  width: 100%  

.Carousel
  width: 100%

@media (max-width: 900px)

  .content
    display: flex
    flex-direction: column

  .projeto
    width: 100%

  .title
    width: 100%
    text-align: center
