.container
  width: 100vw
  display: flex
  color: #fff
  align-items: center
  justify-content: center
  height: 600px

.content
  width: 80vw
  font-weight: 700
  font-size: 32px

.title
  margin-bottom: 6px

.projeto
  background-color: #fff
  height: 417px
  width: 606px
  border-radius: 32px
  margin-top: 10px

@media (max-width: 900px)

  .projeto
    width: 100%
