.container
  width: 100%
  color: #fff
  display: flex
  height: 308px
  justify-content: center
  align-items: center
  border-bottom: solid 0.1rem #fff


.header
  display: flex
  flex-direction: row
  width: 80vw
  align-items: center
  justify-content: space-between

  
.menu
  display: flex
  button
    background: none
    border: none
    margin: 0 0 0 26px
    font-size: 14px
    font-weight: 700
    text-decoration: none
    text-transform: uppercase
