.banner
  width: 100vw
  color: #fff
  height: 500px
  font-size: 72px
  display: flex
  align-items: center
  justify-content: center

.container
  width: 80vw
  
.span1
  font-weight: 200
  font-size: 72px
  width: 100%

.span2
  color: rgb(117, 251, 76)
  font-weight: 700
  font-size: 72px
  width: 100%

@media (max-width: 900px)
  .banner
    font-size: 32px
  .span1
    font-size: 52px
    font-weight: 600
  .span2
    font-size: 52px
    font-weight: 600

@media (max-width: 500px)

  .container
    display: flex
    flex-direction: column
